  <!--====================SIMPLE UPVOTE DOWNVOTE MECHANISM=====================-->              
                <div class="voting" ng-controller="VoteController">
                    <strong><span class="blue">{{ up }}</span></strong><button type="button" class="btn btn-primary btn-xs" ng-click="add(1)">upvote</button>
                    <strong><span class="red">{{ down }}</span></strong><button type="button" class="btn btn-danger btn-xs" ng-click="subtract(1)">downvote</button>
                </div><!--up and down vote-->
  <!--====================SIMPLE UPVOTE AND DOWNVOTEMECHANISM=================-->